---
import Layout from "../../layouts/Layout.astro";
import Hero from "../../components/blog/Hero.astro";
import Tags from "../../components/blog/Tags.astro";
import ListPosts from "../../components/blog/ListPosts.astro";
const pageTitle = "Adrian Reategui Cybersecurity Professional | OSCP | OSCP+ | CompTIA Security+";
const description = "Welcome to my blog, where I share my passion for Cybersecurity.";
const ogimage ={
    url: "/images/blogimage.webp",
    alt: "Adrian Reategui"
};

---

<Layout  pageTitle={pageTitle} description={description} ogimage={ogimage}>
   
    <!-- <Hero /> -->
    <!-- <Tags /> -->
    <div class="px-8 max-sm:px-4">
        <ListPosts />
    </div>


</Layout>
