---
import Layout from "../../layouts/Layout.astro";
import Hackthebox from "../../components/blog/Hackthebox.astro";
import Provinggrounds from "../../components/blog/Provinggrounds.astro";
---

<Layout title="Write-Ups">
  <main class="max-w-4xl mx-auto py-8 px-4">
    <Hackthebox />
    <Provinggrounds />
  </main>
</Layout>