---
import ExperienceItem from "./ExperienceItem.astro";
const EXPERIENCE = [
  {
    date: "Jun 2025",
    title: "OSCP (Offensive Security Certified Professional",
    company: "Offsec",
    description:
      "Hands-on certification showing the ability to find and exploit vulnerabilities and perform real-world penetration tests.",
  },
  {
    date: "Dec 2023",
    title: "CompTIA Security+ ce Certification",
    company: "CompTIA",
    description:
      "Proves knowledge of essential security principles, risk management, and how to secure networks and systems.",
  },
  {
    date: "Oct 2023",
    title: "Google Cybersecurity Specialization",
    company: "Google",
    description:
      "Cover the basics and practical skills needed for a cybersecurity role, including security tools, network defense and detecting threads",
  },
  
  
];
---

<div class="relative max-md:mt-0 mt-8" aria-label="Professional experience">
  <ol class="relative mt-10">
    {
      EXPERIENCE.map((experience, index) => (
        <li class="">
          <article role="article" aria-labelledby={`experience-title-${index}`}>
            <div
              class="flex flex-col gap-2  text-zinc-00 dark:text-zinc-300 md:col-span-3"
              aria-describedby={`experience-title-${index}`}
            >
              <ExperienceItem {...experience} />
            </div>
          </article>
        </li>
      ))
    }
  </ol>
</div>
